<form method="POST" action="/login">
  <label for="name">Name:
    <input id="name" type="text" name="name" required>
  </label>
  <label for="image">image url:
    <input id="image" type="text" name="image">
  </label>
  <button>submit</button>
</form>