<!DOCTYPE html>
<html lang="en">

<head>
  {{> htmlHead }}
</head>

<body>

  <header class="navbar">
    {{> htmlHeader}}
  </header>

  <main class="main">
    {{{ body }}}
  </main>

  <footer class="footer">
    {{> htmlFooter}}
  </footer>

</body>

</html>